*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    // 1 rem = 10px; 10px/16px = 62.5% 
    font-size: 62.5%;
    background-color: $color-primary-white;

  @media only screen and (max-width: 96em) {
    font-size: 59%;
  }

  @media only screen and (max-width: 90em) {
    font-size: 57%;
  }

  @media only screen and (max-width: 87.5em) {
    font-size: 55%;
  }

  @media only screen and (max-width: 83.75em) {
    font-size: 52.5%;
  }

  @media only screen and (max-width: 80em) {
    font-size: 51%;
  }

  @media only screen and (max-width: 78.125em) {
    font-size: 49%;
  }

  @media only screen and (max-width: 74.4em) {
    font-size: 47%;
  }

  @media only screen and (max-width: 71.6em) {
    font-size: 45%;
  }

  @media only screen and (max-width: 68.75em) {
    font-size: 43%;
  }

  @media only screen and (max-width: 65.6em) {
    font-size: 42%;
  }

    //min-width= 1024px
}

body {
  box-sizing: border-box;
  font-family: 'SF Pro Display', 'Arial', sans-serif;
  width: 180rem;
  margin: 0 auto;

  @media only screen and (max-width: 113.75em) {
    width: 151.2rem;
  }
}



a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.container {
  max-width: 1114px;
  padding: 0 15px;
  margin: auto;
}



