.gallery {
  padding: 4.5rem 0;

  .header {
    display: flex;

    &__1 {border-radius: 50% 0 0 50%;}
    &__2 {border-radius: 0 50% 0 50%;}
    &__4 {border-radius: 50% 0 50% 0;}
    &__5 {border-radius: 0 0 50% 50%;}
    &__7 {transform: translateX(50px);}
    &__8 {border-radius: 0 50% 50% 0;}
    &__9 {border-radius: 50% 0 0 50%;}
    &__11 {border-radius: 50%;}
    &__12 {
      border-radius: 50% 0 50% 0;
      img {height: 3rem;}

      a {
        @include d-f-center;
        transform: rotate(180deg);
        width: 100%;
        height: 100%;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;

    .left {
      width: 28.8rem;
      flex-direction: column;

      @media only screen and (max-width: 113.75em) {
          width: 14.4rem;
      }

      div {
        display: flex;
      }

      &__2 {border-radius: 50% 0 0 50%;}
      &__3 {border-radius: 50%;}
      &__4 {border-radius: 50% 0 50% 0;}
      &__5 {border-radius: 50% 50% 0 0;}
      &__6 {border-radius: 0 50% 0 50%;}
      &__7 {border-radius: 50% 0 50% 50%;}
      &__9 {
        border-radius: 50% 0 50% 0;
        img {height: 3rem;}

        a {
          @include d-f-center;
          width: 100%;
          height: 100%;


        }
      }
      &__10 {border-radius: 50% 50% 0 0;}
    }

    .center {
      width: 100%;
      display: flex;
      padding: 0 0.6% 1% 0.6%;

      .block{
        width: 33.33333%;
        height: 100%;

      }
    }

    .right {
      width: 28.8rem;
      flex-direction: column;

      @media only screen and (max-width: 113.75em) {
        width: 14.4rem;
      }

      div {
        display: flex;
      }

      &__3 {border-radius: 50% 0 0 50%;}
      &__4 {border-radius: 50% 0 0 50%;}
      &__5 {border-radius: 50% 0 50% 0;}
      &__6 {border-radius: 0 50% 0 50%;}
      &__7 {border-radius: 0 50% 0 50%;}
      &__8 {border-radius: 50% 0 50% 0;}
      &__9 {border-radius: 50%;}
    }
  }

  .js--wp-1 {
    opacity: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  }

  .js--wp-2 {
    opacity: 0;
    -webkit-animation-duration: 2.5s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  .js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
  }

  .js--wp-1.animated,
  .js--wp-2.animated,
  .js--wp-3.animated {
    opacity: 1;
  }

}
